<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guestbook</title>

    <style>
        .post
        {
            width: 600px;
            height: 200px;
            background-color: red;
            color: black;
            font-size: 22px;
            margin: 15px;
            padding: 5px;
        }
        .header
        {
            width: 600px;
            height: 50px;
            background-color: green;
        }
        .message
        {
            width: 600px;
            height: 150px;
            background-color: red;
        }

    </style>


</head>
<body>

    <h1>Simple Guestbook</h1>

    <div id="container">

        {% for item in list %}

            <div class="post">
                <div class="header">
                    {{ item.getName() }} - {{ item.getData() }}
                </div>
                <div class="message">
                    {{ item.getMessage() }}
                </div>
            </div>

        {% endfor %}

    </div>

    <form method="post">

        Message  <br/>
        <textarea cols="30" rows="15" name="txtArea"></textarea> <br/>
        Name <br/>
        <input type="text" name="txtName" /> <br/>
        <input type="submit" id="btnForm" value="Submit" />

    </form>

</body>
</html>